# Node modules
node_modules/

# package-lock.json
package-lock.json




# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# frontend build output (예: Vite, CRA)
young-01-client/dist/
young-01-client/.vite/

# backend build output (optional)
young-01-server/dist/
young-01-server/build/
# prisma/migrations - 필요 시
#young-01-server/prisma/migrations/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker stuff
**/data/
**/tmp/
docker-compose.override.yml

# 환경 설정
.env
.env.*
!.env.sample


# Prisma client
young-01-server/src/generated/prisma
