# 토큰 만료시간
JWT_ACCESS_EXPIRES_IN=1800       # 30분 (초 단위) 60 * 30
JWT_REFRESH_EXPIRES_IN=604800    # 7일 (초 단위) 60 * 60 * 24 * 7

#database source
DATABASE_URL=[dbms]://[id]:[pw]@[url]:[port]/[database]

#port
PORT=3000

#frontend origin
FRONTEND_ORIGIN=http://localhost:5173

#redis
REDIS_URL=redis://localhost:6379
REDIS_TTL=60 * 60 * 24 * 7

#jwt
JWT_SECRET=